/* Here in body I set background image for website */
body {
    background-image: url('/assets/background.jpg');
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.content {
    height: 400px;
    width: 600px;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: #e58556;
    background: linear-gradient(rgba(255, 255, 255, 0), #ffc789, rgba(255, 255, 255, 0));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.question {
    height: 100%;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.answer {
    height: 100%;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.question-title{
    text-align: center;
}

.enter-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.search-bar {
    margin-top: 5px; /* Add space between Name and the search bar */
    margin-left: 15px;
    height: 30px;
    border-style: solid;
    border-color: #e58556;
    border-radius: 15px;
    border-width: 1.75px;
    background-color: #f6c89a;
}

.gender-checkbox {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.male {
    display: flex;
    flex-direction: row;
}

.female {
    display: flex;
    flex-direction: row;
}

.question-button {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    padding-bottom: 10px;
}

.submit {
    margin-top: 5px;
    width: 70px;
    height: 30px;
    background-color: #c1a39a;
    border-width: 0;
}
.save {
    margin-top: 15px;
    width: 70px;
    height: 30px;
    background-color: #c1a39a;
    border-width: 0;
}